.board_cont {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    margin: 50px;
    
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    border: 1px solid #251f44;
    border-radius: 5px;

    width: 150px;
    height: 150px;
    margin: 5px;

    background-color: #251f44;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #fe91ca;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color: #d3dbff;
    border-color: white;
}

.cell_txt {
    font-size: 150px;
    font-family: 'Cute Font', cursive;
}